<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emmarher.diapa_v1">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE"/>
    <uses-permission android:name="com.microsoft.band.service.access.BIND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DIAPA V2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/diagpark">
            <intent-filter>

                <action android:name="android.intent.action.ACERCADE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AcercaDe"
            android:label="DIAPARK ">
            <intent-filter>
                <!-- Es el primer activity al ejecutarse la aplicacion-->
               <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MostrarDatos"
            android:theme="@style/diagpark">
            <intent-filter>

                <action android:name="android.intent.action.MOSTRARDATOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>